li.dev-item {
  background: #fff;
  box-shadow: 0 0 14px 0 rgba(0,0,0,0.02);
  border-radius: 2px;
  padding: 20px;
}

li.dev-item p {
  color: #666;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
}

li.dev-item header{
  display: flex;
  flex-direction: row;
  align-items: center;
}

li.dev-item header .user-info {
  margin-left: 30px;
}

.user-info strong {
  display: block;
  font-size: 16px;
  color: #333;
}

.user-info span {
  font-size: 13px;
  color: #999;
  margin-top: 2px;
}
li form button[type=submit]{
  width: 100%;
  border: 0;
  margin-top: 30px;
  background: #bb0303;
  border-radius: 2px;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: background 0.5s;
}
li form button[type=submit]:hover{
  background: #a00303;
}

li button{
  width: 100%;
  border: 0;
  margin-top: 30px;
  background: #12bb03;
  border-radius: 2px;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: background 0.5s;
}
li button:hover{
  background: #10a803;
}
